body{
    background:url('../Images/8.jpg');
    text-align: center;
}

select{
    height: 7%;
    font-size: 90%;
}
#imagen{
     padding: 0.5% 0.5% 0.5%;
     background:gray;
     opacity: 0.9;
     width: 40%;
     margin-left: auto;
     margin-right:auto;
    border-radius: 5px;
}
#principal{
    background: white; opacity: 0.9;
    width: 100%;
    padding: 1%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 5px;
    font-size: 130%;
}
#logo1{
    width: 150px;
    max-width: 100%;
}
#logo2{
    width: 150px;
    max-width: 100%;
}
#title{
    font-size: 150%;
    font-style: italic;
    text-shadow: 2px 1px 3px #ffcc2a;
}
#baceptar{
    font-size: 90%;
    background: gray;
    color: white;
}
label{
    font-size: 100%;
}
.col-md-3{
    text-align: center;
}
.col-md-6{
    text-align: center;
}
.col-md-12{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}